body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Noto Serif TC', sans-serif;
    background-color: #FDFAEC;
    color: #402A05;
    margin: 0;
    padding: 0;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
}
.container > div {
    display: none;
}
.bar {
    background-color: #FDFAEC;
}

.stepone {
    background-color: #FFF3E8;
}

.bar, .stepone, .nfc, .vr, .D, .test, .web, .draw, .end {
        flex: 1;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: 100vh;
    }

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
h1{
    font-weight: 600;
}

h2{
    font-weight: 500;
} 

h3 {
    font-weight: 400;
    color: #333;
}

p  {
    font-weight: 200
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #402A05;
    background-color: #B69779;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    float: right;
}

.vrbg{
    background-image: url(../img/ad.jpg);
}

/* personal */
.bar.center {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
}

.bar .personal2 {
    flex: 1;
    background-color: #FFF3E8;
    background-image: url(../img/材質2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}


.m1 {
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid #402A05;
    background: none;
    border-radius: 0%;
    padding: 5px;
    font-size: 16px;
}

#didi {
    max-width: 45%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    background-color: #FDFAEC;
    padding: 10px;
}

.logo img {
    margin: 0;
    width: 70px;
}

.logo h1, .logo p {
    margin: 0;
    text-align: center;
}

.logo p {
    position: absolute;
    bottom: 0;
    right: 10px;
    margin: 0;
}

#startButton {
    background-color: #C8AC90;
    box-shadow: 2px 2px 4px #402A05;
    border-radius: 50px;
    width: 200px;
    height: auto;
    margin-top: 30px;
}

#userName::placeholder {
    color: #B69779;
}

#image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 50%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.left-image {
    transform: translateX(-100%);
}

.right-image {
    transform: translateX(100%);
}

/* stepone */
.stepone,.nfc {
    flex: 1;
    background-color: #FFF3E8;
    background-image: url(../img/材質2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}



.stepone img {
    margin: 0;
    max-width:45%;
}

/* nfc */
.part {
    margin: 0;
    width: 320px;
    height: 340px;
    background-color: #E7E1DA;
    border-radius: 15px;
}

.vr img{
    margin: 0;
    max-width:45%;
    display: grid;
}

.vr, .D, .test, .web, .draw, .end{
    flex: 1;
    background-color: #E3EDD2;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.D img{
    margin: 0;
    max-width:45%;
}

.ques{
    background-color: #DAE4CA;
    max-width: 270px;
    height: 320px;
    border: 1px solid #DAE4CA;
    border-radius: 15px;
    text-align: center;
    margin-left: 25%; 
}

.ques div{
    width: 150px;
    padding: 15px;
    margin: 10px;
    background-color: #EDF2E5;
    border-radius: 15px;
    justify-content: space-around;
    display: inline-flex;
}

.ques h3{
    margin: 20px;
}

.draw h2{
    margin: 8px;
}
.question h2{
    margin: 20px;
}
.draw img{
    margin: 0;
    max-width:45%;
}

.finish-button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #402A05;
    background-color: #B69779;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.finish-button2{
    padding: 10px 20px;
    font-size: 1rem;
    color: #402A05;
    background-color: #B69779;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: -40px;
}

#aunt{
    background-image: url(../img/kv7.png);
}

#around {
    color: #402A05;
    background-color: #EDE1D0;
    position: absolute;
    bottom: 0;
    left: 10px;

}

#endform {
    color: #FDFAEC;
    background-color: #8F6547;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.end img{
    margin:0;
    max-width: 80%;
}

#question2, #question3, #question4, #question5 {
    display: none; /* Hide all questions initially */
}

div.correct-answer {
    background-color: red; /* Red for correct answer in the incorrect selection */
}

#score {
    font-size: 18px;
    margin-bottom: 10px;
}
#score{
    bottom: 320px;
    text-align: center;
    margin-right: 75%;
    display: inline-block;
    position: relative;
}
.progress-bar-container {
    bottom: 55px;
    height: 290px;
    border: 1px solid #B1BD9C;
    border-radius: 15px;
    text-align: center;
    margin-right: 75%;
    width: 20px;
    background-color: #ddd;
    display: inline-block;
    position: fixed;

}
.progress-bar {
    position: absolute;
    bottom: 0;
    background-color: #808F66;
    width: 100%;
    border-radius: 15px;
    transition: height 1s ease-in-out;
}
