body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif TC', sans-serif;
    background-color: #FDFAEC;
    margin: 0;
    padding: 0;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
}
.container > div {
    display: none;
}
.menu, .personal, .stepone, .nfc,.goin, .vr, .D, .test, .web, .draw, .end {
    width: 100%;
    text-align: center;
}
.m1 {
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid #6C95C6;
    background: none;
    border-radius:0%;
    padding: 5px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
h1{
    font-weight: 600
}

h2{
    font-weight: 500;
} 

h3 {
    font-weight: 400;
    color: #333;
}

p  {
    font-weight: 300
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.vrbg{
    background-image: url(../img/ad.jpg);
}

/* personal */
.personal.center {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
.personal.center .personal2 {
    background-color: #FFF3E8;
    background-image: url(../img/材質2.png);
    background-size: cover;
    background-position: center;
}
.personal.center #image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personal2 h1 {
    padding: 20px;
    margin: 0;
}
#didi{
    max-width: 50%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* 水平居中对齐 */
    position: relative; /* 设置相对定位 */
    vertical-align: middle;
    background-color: #FDFAEC;
    padding: 5px;
    padding-top: 50px;
}

.logo img {
    margin: 0;
    width:70px;
    margin-right: 10px; /* 调整 img 和 h1 之间的间距 */
}

.logo h1, .logo p {
    margin: 0;
    text-align: center; /* 水平居中对齐 */
}

.logo p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0; 
}
#startButton{
    background-color: #C8AC90;
    box-shadow: 2px 2px 4px #402A05;
    border-radius: 50px;
    width: 200px;
    height: auto;
    margin: 30px;
}
#userName::placeholder{
    color: #B69779;
    font-weight: 400;
}
#userName{
    font-weight: 400;
}

#image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 50%; /* 添加一个比例性的 padding-bottom */
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.left-image {
    transform: translateX(-100%);
}

.right-image {
    transform: translateX(100%);
}

  