@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

body,
html{
	margin: 0;
	padding: 0;
}


body,html,h1,h2,h3,h4,h5,h6,div{
  font-family: Microsoft JhengHei, sans-serif !important;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 400 !important;
}

body {
    background-color: none !important;
    background-image: url(../img/網頁背景_工作區域\ 1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: auto !important;
    margin: 0;
}

@media only screen and (max-width: 375px) {
    body {
        background-size: 100% auto;
        background-position: center;
    }
}

.modal-body2 {
    max-width: 100%;
}

.imagemodal {
    display: block;
    margin: 0 auto;
    margin-top: 35%;
    max-width: 65%;
}

.info2 {
    margin: 0 0 3%;
    letter-spacing: 1px;
    text-indent: 1px
}

.info2+.info2 .info_title2 {
    background-color: #dea776
}

.info2+.info2+.info2 .info_title2 {
    background-color: #e892a8
}

.info2+.info2+.info2+.info2 .info_title2 {
    background-color: #92cee8
}

.info2+.info2+.info2+.info2+.info2 .info_title2 {
    background-color: #cbe892
}

.info2 .info_title2 {
    width: 84px;
    height: 23px;
    line-height: 23px;
    float: left;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
    background-color: #d3bba6;
    margin: 0 4.5161290323% 0 1.2903225806%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.info2 .info_desc2 {
    float: left;
    width: calc(100% - 84px - 5.8064516129%);
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #6a6a6a
}

.info_box2 p {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px;
    font-size: large;
}

h1 {
    text-align: center;
    margin: 8px;
}



.text2 {
    margin: 15px;
    text-align: left !important;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #402A05;
    background-color: #B69779;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    float: right;
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}
.clearfix:after {
	clear: both
}

/* 滾動條*/
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-button {
      background: transparent;
      border-radius: 4px;
    }
    ::-webkit-scrollbar-track-piece {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid slategrey;
    }
    ::-webkit-scrollbar-track {
      box-shadow: transparent;
    }

