@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

body,
html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #F9EDDD;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
	box-shadow: none!important;
}

body,html,h1,h2,h3,h4,h5,h6,div{
  font-family: cwTeXYen, sans-serif !important;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 400 !important;
}


/*** Spinner ***/
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
	font-weight: 500;}
	
.btn-check{
	box-shadow: none!important;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 40px;
    
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 10px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
	cursor: pointer;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #8E7D5C;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #F7F7F7;
    }


    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
		background: #FFFFFF;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
	height: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}

/*** Team ***/
.team-item {
    position: relative;
    padding: 1rem 0;
}

.team-item img {
    position: relative;
    z-index: 2;
}

.team-item .team-text {
    position: absolute;
    right: 3rem;
    bottom: 0;
    left: 3rem;
    padding: 15px;
    border: 1px solid var(--light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    z-index: 1;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.team-item:hover  {
  transform:scale(1.2,1.2);
}

.team-item .team-text h4 {
    transition: .5s;
}

.team-item:hover .team-text h4 {
    color: #8E7D5C;
}

.team-item .team-social .btn {
    background: var(--light);
    color: #8E7D5C;
}

.team-item:hover .team-social .btn {
    background: #FFFFFF;
}

.team-item .team-social .btn:hover {
    background: #8E7D5C;
    color: var(--light);
}

/* Footer */
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #8E7D5C;
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: var(--light);
    background: #F9EDDD;
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: #8E7D5C;
}



/* test */
   #test.body {
      background-color: #f1f1f1;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    #test.h1 {
      color: #333;
      margin-top: 40px;
    }

    #question1 {
      margin: 10px 0;
      font-size: 20px;
    }

    #choices button {
      background-color: #D6C5A4;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
    }

    #choices button:hover {
      background-color: #8E7D5C;
    }

    #result {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    #back{
		background-color: #D6C5A4;
		color: #fff;
		border: none;
		font-size: 16px;
		cursor: pointer;
		position: absolute;
		border-radius: 8px;
    }

    #imgtest{
      display: inline-block;
      max-width: 100%;
      height: auto;
	}

/* keyvision */
#image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
/* RWD keyvision */
@media (max-width: 1142px) {
  #image-container {
    height: auto;
    padding-bottom: 50%; /* 添加一个比例性的 padding-bottom */
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.left-image {
  transform: translateX(-100%);
}

.right-image {
  transform: translateX(100%);
}


/* 乾爹 */
#partner.container{
  position: relative;
}

.item1 img{
	width: 100%;
	max-height: 160px;
	align-items:center;
	
}
.partner-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
	max-height: 150px
}
.carousel-navigation {
  position: absolute;
  top: 50%;
  left: -10px;
  right: -10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.carousel-nav-prev,
.carousel-nav-next {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-nav-prev i,
.carousel-nav-next i {
  color: #333;
}

/* tea's life */
.tealife {
	font-size: 30px;
	margin-bottom: 20px;
}

/* knowledge點擊彈跳 */
.modal-header {
    border: none;
}
.modal-body {
  margin: -15px auto;
  overflow: hidden;
}

.imagemodal{
    display: block;
    width: 80%;
    max-width: 80%;
    height: auto;
    margin: auto;
}

.text {
  width: 100%;
  padding: 20px;
	text-align: left;
}

@media (min-width: 1142px) {
  .modal-body.tea_title {
    width: 800px;
  }

  .imagemodal {
    float: left;
    width: 335px;
    padding: 20px;
  }

  .text {
    float: right;
    width: calc(100% - 335px); /* 調整圖片和文字之間的間距 */
    padding: 20px;
	  text-align: left;
  }
}
.info_title{
	text-align: center;
}
.tea_title{
	padding: 20px;
}
.table td,.table th {
    border: 1px solid #C8B9AA;
    padding: 18px 9px 15px;
    text-align: center;
}

/* 會員中心 */
#pic{
	border:1px solid #8E7D5C;
	border-radius:50%;
	width:200px;
	height:200px;
	object-fit: cover;
	flex: 1;
  padding: 7px;
}

.big-circle {
	position: relative;

}



/* Search */
.box{
	height: 25px;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-style:none;
	 transition: none;	
	 animation: none;

}
.box:hover input{
	width: 150px;	
	border-bottom: 1px solid #4d4d4d
}
.box input{
	width: 0;
	outline: none;
	border: none;
	font-weight: 200;
	transition: 0.8s;
	background: transparent;
}
.box a .fas{
	color: #d6c5a4; 
	font-size: 15px;
}
@media (max-width: 992px){
	.box{
	height: 25px;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-style:none;
	}
}
input[type="keyword"]:focus {
  width: 150px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

/* 置中*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px){
	.center{
	width: inherit;
    height: auto;
	}
}


/* knowl */
ol li,
ul li {
	list-style-type: none
}
.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}
.clearfix:after {
	clear: both
}
.search_tea {
	padding: 57px 0 97px
}
.search_tea .inner {
	position: relative;
	width: calc(100% - 20px - 20px);
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden
}
.search_tea .search_tea_nav_bar {
	position: relative;
	padding: 0 0 1.5% 15%
}
.search_tea .search_tea_nav_bar:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #aeaeae;
	content: ""
}
.search_tea .search_tea_nav_bar .nav_item {
	margin: 0 0 20px
}
.search_tea .search_tea_nav_bar .nav_item .search_title {
	position: relative;
	float: left;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 5px;
	text-indent: 5px;
	margin: 0 0 6px
}
.search_tea .search_tea_nav_bar .nav_item .search_option {
	position: relative;
	float: left;
	width: 83.5294117647%
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item {
	position: relative;
	float: left;
	width: 126px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #a0896c;
	border: 1px solid #d3bba6;
	margin: 0 7px 6px;
	cursor: pointer;
	overflow: hidden
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #a0896c
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item.active,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover {
	color: #fff;
	background: #d3bba6
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item.active a,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover a {
	color: #fff
}
.search_tea .search_tea_content_box {
	padding: 3.6363636364% 0 0
}
.search_tea .search_tea_content_box .search_tea_body {
	text-align: center
}
@media screen and (max-width:768px) {
	.search_tea {
		padding: 8.90625vw 0 15.15625vw
	}
	.search_tea .inner {
		width: calc(100% - 3.59375vw - 3.59375vw);
		padding: 0 9.59375vw
	}
	.search_tea .search_tea_nav_bar {
		position: relative;
		padding: 0 0 5.46875vw 5.46875vw
	}
	.search_tea .search_tea_nav_bar .nav_item {
		margin: 0
	}
	.search_tea .search_tea_nav_bar .nav_item .search_title {
		width: 14.84375vw;
		font-size: 3.90625vw;
		line-height: 7.1875vw;
		margin: 0 0 1.875vw;
		white-space: nowrap
	}
	.search_tea .search_tea_nav_bar .nav_item .search_option {
		width: calc(100% - -15vw)
	}
	.search_tea .search_tea_nav_bar .nav_item .search_option .item {
		width: 32.5vw;
		height: 7.1875vw;
		font-size: 3.59375vw;
		line-height: 7.1875vw;
		margin: 0 .78125vw 1.875vw
	}
	.search_tea .search_tea_content_box {
		padding: 5.46875vw 0 0
	}
}
.tea_list_box {
	text-align: center;
	padding: 35px 0 0;
	display: none
}
.tea_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1050px;
	width: 100%
}
.tea_list .item {
	width: 29.5238095238%;
	text-align: center;
	margin: 0 1.9047619048% 3.3333333333%
}
.tea_list .item a {
	display: block;
	color: #000
}
.tea_list .item .img {
	position: relative;
	width: 100%;
	padding-top: 100%;
	margin: 0 0 7.7419354839%;
	overflow: hidden
}
.tea_list .item .img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%
}
.tea_list .item .title {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 6.4516129032%;
	letter-spacing: 1px;
	text-indent: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.tea_list .item .line {
	border-top: 1px dotted #a0a0a0;
	width: 100%;
	height: 0;
	margin: 0 0 5.4838709677%
}
.tea_list .item .info {
	margin: 0 0 2.2580645161%;
	letter-spacing: 1px;
	text-indent: 1px
}
.tea_list .item .info+.info .info_title {
	background-color: #dea776
}
.tea_list .item .info+.info+.info .info_title {
	background-color: #e892a8
}
.tea_list .item .info+.info+.info+.info .info_title {
	background-color: #92cee8
}
.tea_list .item .info+.info+.info+.info+.info .info_title {
	background-color: #cbe892
}
.tea_list .item .info .info_title {
	width: 84px;
	height: 23px;
	line-height: 23px;
	float: left;
	font-size: 15px;
	color: #fff;
	border-radius: 2px;
	background-color: #d3bba6;
	margin: 0 4.5161290323% 0 1.2903225806%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.tea_list .item .info .info_desc {
	float: left;
	width: calc(100% - 84px - 5.8064516129%);
	font-size: 16px;
	line-height: 23px;
	text-align: left;
	color: #6a6a6a
}

@media screen and (max-width:768px) {
	.tea_list {
		margin: 0 6.2vw;
		width: auto
	}
	.tea_list .item {
		width: 44.53125vw;
		margin: 0 1.875vw 8.59375vw
	}
	.tea_list .item .img {
		width: 44.53125vw;
		height: 44.53125vw;
		padding: 0;
		margin: 0 0 2.5vw
	}
	.tea_list .item .title {
		font-size: 3.90625vw;
		line-height: 1.104;
		margin: 0 0 2.8125vw
	}
	.tea_list .item .line {
		margin: 0 0 3.125vw
	}
	.tea_list .item .info {
		margin: 0 0 2.1875vw
	}
	.tea_list .item .info .info_title {
		width: 14.84375vw;
		height: 4.84375vw;
		line-height: 4.84375vw;
		font-size: 2.8125vw;
		margin: 0 1.71875vw 0 .625vw
	}
	.tea_list .item .info .info_desc {
		width: calc(100% - 14.84375vw - 2.34375vw);
		font-size: 2.8125vw;
		line-height: 4.84375vw
	}
}

/* 滾動條*/
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-button {
      background: transparent;
      border-radius: 4px;
    }
    ::-webkit-scrollbar-track-piece {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid slategrey;
    }
    ::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
    
    /* member 框 */
    #membermodify .m1{
      border: none;
      outline: none;
      border-bottom: 2px solid #4d4d4d;
      background: none;
    }
    #membermodify .btn{
      border: none;
      width: 70px;
      cursor: pointer;
    }  

    /* 圖標 */
.pin{
  cursor: url('../img/4in3.ico'), auto;
}

  .pin[data-target="f1"] {
  position: absolute;
  top: 179px;
  right: 295px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f2"] {
  position: absolute;
  top: 171px;
  right: 8px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f3"] {
  position: absolute;
  top: 104px;
  right: 95px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f4"] {
  position: absolute;
  top: 201px;
  right: 49px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

.pin[data-target="f5"] {
  position: absolute;
  top: 201px;
  right: 224px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

.pin[data-target="f6"] {
  position: absolute;
  top: 222px;
  right: 328px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f7"] {
  position: absolute;
  top: 69px;
  right: 312px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

.pin[data-target="f8"] {
  position: absolute;
  top: 249px;
  right: 256px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f9"] {
  position: absolute;
  top: 96px;
  right: 148px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

.pin[data-target="f10"] {
  position: absolute;
  top: 198px;
  right: 312px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f11"] {
  position: absolute;
  top: 265px;
  right: 661px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

.pin[data-target="f12"] {
  position: absolute;
  top: 210px;
  right: 416px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f13"] {
  position: absolute;
  top: 252px;
  right: 514px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f14"] {
  position: absolute;
  top: 243px;
  right: 482px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f15"] {
  position: absolute;
  top: 351px;
  right: 331px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f16"] {
  position: absolute;
  top: 355px;
  right: 220px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f17"] {
  position: absolute;
  top: 288px;
  right: 509px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}
.pin[data-target="f18"] {
  position: absolute;
  top: 94px;
  right: 225px;
  font-size: 24px;
  transition: transform 0.3s ease; 
}

/* 定義跳動效果 */
.jump {
  transform: translateY(-10px); /* 將圖標向上移動10像素 */
}

/* cloth change */
.clothes {
  position: absolute;
  margin: auto;
  box-shadow: none !important; /* 將模糊程度設置為0，顏色設置為透明 */
} 

@media (min-width: 768px){
#collapseWidthExample {
  position: absolute;
  max-width: 300px;
  top: 20%;
  left: 62%;
  }
} 

/* fun 外框*/
.common-image {
  width: 520px; /* 图片的最大宽度为容器宽度 */
  height: 350px; /* 高度自动调整以保持比例 */
  object-fit: cover; /* 控制图片在指定大小的框中填充，保持纵横比 */
}
#mc1{
  cursor: url('../img/4in1.ico'), auto;
  }

/*index動畫*/
.ani {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; /* Set the height of the container */
}
.ani img {
  top: 40px;
  display: none;
  width: 130%; /* Set the width of the images */
  height: auto; /* Set the height of the images */
}
.ani img:first-child {
  display: block;
}

/* member 收藏 */
.content-container {
  justify-content: flex-start;
}
#img-member {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  margin: 15px;
}
#memhov {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#memhov:hover {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  background:
    linear-gradient(90deg, #8E7D5C 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #8E7D5C 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #8E7D5C 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #8E7D5C 50%, transparent 0) repeat-y;
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .3s infinite linear;
}

@keyframes linearGradientMove {
  100% {
    background-position: 10px 0, -10px 100%, 0 -10px, 100% 10px;
  }
}


/*   */
.product {
  display: flex;
  flex-wrap: wrap;
}

.product .info {
  width: 23%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  max-width: 100%;
  margin: 0 auto;
}

.product .info h2 {
  margin: 5px;
}

.product .info p {
  margin: 7px;
}

.product .info button {
  max-width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #d6c5a4;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* 區塊 */
#color{
  background:url(https://png.pngtree.com/background/20210715/original/pngtree-white-marble-texture-background-picture-image_1309543.jpg)
  no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}

/* index proc */
.head {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 60px;
}
.content-box {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 50%;
  font-size: 20px;
  padding-left: 4em;
  text-align: center;
}
.images-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.scroll-img {
  width: 30vw;
  opacity: 0;
  position: absolute;
  top: auto;
}
.heading {
  opacity: 0;
  position: absolute;
  top: auto;
  max-width: 500px;
}
.active {
  opacity: 1;
}
@media (max-width: 880px) {
	.content-box,
	.images-box{
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.images-box{
		margin-left: 0;
	}
}
/* index knowl */
#knowlbtn{
  position: static;
  /*position: absolute;*/
  width: 70px;
  /* right: 10%; */
  margin: 10px;
}
#type {
  display: flex;
  height: 100%;
  font-size: 20px;
  justify-content: center;
}

.slide .img {
  display: flex;
  width: 150px;
  height: 250px;
  justify-content: center;
  object-fit: cover;
  object-position: center center;
  margin: 2px;
  padding: 20px;
}
.slide .title{
  display: flex;
  width: 150px;
  justify-content: center;
  object-fit: cover;
  object-position: center center;
}
.slider {
  height: 300px;
  margin: auto;
  overflow: hidden;
}
@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
.slider::before, .slider::after {
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 10s linear infinite ;
  animation: scroll 10s linear infinite ;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 300px;
  width: 250px;
}


/* index footer */
.footer-distributed{
	background: #d6c5a4;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 45px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #F9EDDD;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #F9EDDD;
	text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #F9EDDD;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

/* keyvisiov scroll */
.scroll-icon {
  position: absolute; 
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px; 
  color: #fff; 
  cursor: pointer; 
  text-align: center;
}
.scroll-down {
  animation:bounce 1s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.scroll-down i {
  font-size: 24px; 
}
.scroll-down p {
  font-size: 15px;
  margin-top: 5px; 
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

/* store */

.left-c-box {
  padding: 2px 2px 0px;
  position: relative;
  margin: 10px;
}

.right-c-box {
  flex: 1;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}
.roductList{
  padding: 0 !important;
}
.hidden {
  display: none;
}
.ProductList-breadcrumb.hidden-xs {
  position: relative;
}
/* storelist */
.category {
  cursor: pointer;
  color: #d6c5a4;
}

/* store product */
.shopping {
  width: calc(33.3333% - 20px); /* Adjust the width as needed, considering margins */
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
}

.shopping:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .shopping {
    width: calc(100% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 576px) {
  .shopping {
    width: 100%; /* One card per row on extra small screens */
  }
}

/* login*/
.form-container {
  width: 300px;
  margin: 50px auto;
  overflow: hidden;
}

.form {
  display: flex;
  width: 600px;
  transition: transform 1s;
}

.form form {
  width: 300px;
  border-radius: 5px;
  display: none;
}
.form-container .m1{
  border: none;
outline: none;
border-bottom: 2px solid #4d4d4d;
background: none;
}

#register-form {
  transform: translateX(100%);
}

.show {
  display: block !important;
}

/* member name */
.disabled-text {
  pointer-events: none; 
  cursor: default; 
  color: inherit !important;
  text-decoration: none;
}
