body,
html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #F9EDDD
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
	box-shadow: none!important;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
	font-weight: 500;}
	
.btn-check{
	box-shadow: none!important;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 40px;
    
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 10px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #8E7D5C;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #F9EDDD;
    }
	.navbar{
		background: #FFFFFF;
	}

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
		background: #FFFFFF;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



/*** Header ***/

.carousel-caption {
    top: 0;
    left: 45%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
	color:#000!important;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}

/*** Team ***/
.team-item {
    position: relative;
    padding: 1rem 0;
}

.team-item img {
    position: relative;
    z-index: 2;
}

.team-item .team-text {
    position: absolute;
    right: 3rem;
    bottom: 0;
    left: 3rem;
    padding: 15px;
    border: 1px solid var(--light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    z-index: 1;
}

.team-item:hover .team-text {
    background: #8E7D5C;
    border-color: #8E7D5C;
}

.team-item .team-text h4 {
    transition: .5s;
}

.team-item:hover .team-text h4 {
    color: #F7F7F7;
}

.team-item .team-social .btn {
    background: var(--light);
    color: #8E7D5C;
}

.team-item:hover .team-social .btn {
    background: #FFFFFF;
}

.team-item .team-social .btn:hover {
    background: #8E7D5C;
    color: var(--light);
}

/* Footer */
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #8E7D5C;
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: var(--light);
    background: #000B1C;
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: #8E7D5C;
}


/* map pin

.map {
  margin:10px;
  border:5px solid #fff;
  position: relative;
  display: inline-block;
}

.map img {
  max-width:50%;
  display: block;
}

.box {
  width:8%;
  height:8%;
  background-image:   url(http://www.clker.com/cliparts/W/0/g/a/W/E/map-pin-red.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:55%;
  left:20%;
}

.box:hover > .pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:75%;
  white-space:nowrap;
  display: none;
}

.pin-text h3 {
    color:black;
    text-shadow: 1px 1px 1px #000;
}
***/

/* test */
   #test.body {
      background-color: #f1f1f1;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    #test.h1 {
      color: #333;
      margin-top: 40px;
    }

    #question1 {
      margin: 10px 0;
      font-size: 20px;
    }

    #choices button {
      background-color: #D6C5A4;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    #choices button:hover {
      background-color: #8E7D5C;
    }

    #result {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    #back{
		background-color: #D6C5A4;
		color: #fff;
		border: none;
		font-size: 16px;
		cursor: pointer;
		position: absolute;
		left: 2;
    }

    #imgtest{
      display: inline-block;
      max-width: 100%;
      height: auto;
	}

/* keyvision */
#image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
/* RWD */
    @media (max-width: 1142px) {
  #image-container {
    height: auto;
    padding-bottom: 50%; /* 添加一个比例性的 padding-bottom */
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.left-image {
  transform: translateX(-100%);
}

.right-image {
  transform: translateX(100%);
}


/*** 乾爹 ***/
.container{
  position: relative;
}

.item1 img{
	width: 100%;
	max-height: 160px;
	valign:center;
	align:center;
	
}
.partner-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
	max-height: 150px
}
.carousel-navigation {
  position: absolute;
  top: 50%;
  left: -10px;
  right: -10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.carousel-nav-prev,
.carousel-nav-next {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-nav-prev i,
.carousel-nav-next i {
  color: #333;
}

    /* tea's life */
   #question-container {
      text-align: center;
    }

    #question {
      font-size: 30px;
      margin-bottom: 20px;
    }

    #image-containerlife {
      text-align: center;
      margin-bottom: 55px;
      position: relative;
		top: -38px
    }

    #imagelife {
      max-width: 100%;
      height: auto;
    }

    .arrow-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .arrow {
      width: 30px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .arrow:hover {
      background-color: #f2f2f2;
    }

    .arrow-left {
      order: 1;
    }

    .arrow-right {
      order: 3;
    }


/* knowledge點擊彈跳 */
.modal-header {
    border: none;
}
.modal-body {
  margin: -30px auto;
  overflow: hidden;
}

.imagemodal{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text {
  width: 100%;
  padding: 20px;
	text-align: left;
}

@media (min-width: 1142px) {
  .modal-body.tea_title {
    width: 800px;
  }

  .imagemodal {
    float: left;
    width: 335px;
    padding: 20px;
  }

  .text {
    float: right;
    width: calc(100% - 335px); /* 調整圖片和文字之間的間距 */
    padding: 20px;
	  text-align: left;
  }
}
.info_title{
	text-align: center;
}
.tea_title{
	padding: 20px;
}
.table td,.table th {
    border: 1px solid #C8B9AA;
    padding: 18px 9px 15px;
    text-align: center;
}

/* 會員中心 */
#pic{
	border:1px solid black;
	border-radius:50%;
	width:200px;
	height:200px;
}

/* Search */
.box{
	height: 25px;
	display: flex;
	cursor: pointer;
	padding: 10px 15px;
	background: #fff;
	border-radius: 30px;
	align-items: center;
}
.box:hover input{
	width: 150px;
}
.box input{
	width: 0;
	outline: none;
	border: none;
	font-weight: 200;
	transition: 0.8s;
	background: transparent;
}
.box a .fas{
	color: #d6c5a4;
	font-size: 15px;
}
@media (min-width: 992px){
	.box{
	height: 25px;
	display: flex;
	cursor: pointer;
	padding: 10px 15px;
	background: #fff;
	border-radius: 30px;
	align-items: center;
	}
}
/* signin */
.form-table td {
	text-align: left;
	padding: 5px;
}
.form-table input[type="text"],
.form-table input[type="password"] {
	width: 100%;
}
 .password-warning {
	 color: #ff0000;
}

/* 置中*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* knowl */
ol li,
ul li {
	list-style-type: none
}
.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}
.clearfix:after {
	clear: both
}
.search_tea {
	padding: 57px 0 97px
}
.search_tea .inner {
	position: relative;
	width: calc(100% - 20px - 20px);
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden
}
.search_tea .search_tea_nav_bar {
	position: relative;
	padding: 0 0 1.5% 15%
}
.search_tea .search_tea_nav_bar:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #aeaeae;
	content: ""
}
.search_tea .search_tea_nav_bar .nav_item {
	margin: 0 0 20px
}
.search_tea .search_tea_nav_bar .nav_item .search_title {
	position: relative;
	float: left;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 5px;
	text-indent: 5px;
	margin: 0 0 6px
}
.search_tea .search_tea_nav_bar .nav_item .search_option {
	position: relative;
	float: left;
	width: 83.5294117647%
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item {
	position: relative;
	float: left;
	width: 126px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #a0896c;
	border: 1px solid #d3bba6;
	margin: 0 7px 6px;
	cursor: pointer;
	overflow: hidden
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #a0896c
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item.active,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover {
	color: #fff;
	background: #d3bba6
}
.search_tea .search_tea_nav_bar .nav_item .search_option .item.active a,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover a {
	color: #fff
}
.search_tea .search_tea_content_box {
	padding: 3.6363636364% 0 0
}
.search_tea .search_tea_content_box .search_tea_body {
	text-align: center
}
@media screen and (max-width:668px) {
	.search_tea {
		padding: 8.90625vw 0 15.15625vw
	}
	.search_tea .inner {
		width: calc(100% - 3.59375vw - 3.59375vw);
		padding: 0 9.59375vw
	}
	.search_tea .search_tea_nav_bar {
		position: relative;
		padding: 0 0 5.46875vw 5.46875vw
	}
	.search_tea .search_tea_nav_bar .nav_item {
		margin: 0
	}
	.search_tea .search_tea_nav_bar .nav_item .search_title {
		width: 14.84375vw;
		font-size: 3.90625vw;
		line-height: 7.1875vw;
		margin: 0 0 1.875vw;
		white-space: nowrap
	}
	.search_tea .search_tea_nav_bar .nav_item .search_option {
		width: calc(100% - 14.84375vw)
	}
	.search_tea .search_tea_nav_bar .nav_item .search_option .item {
		width: 32.5vw;
		height: 7.1875vw;
		font-size: 3.59375vw;
		line-height: 7.1875vw;
		margin: 0 .78125vw 1.875vw
	}
	.search_tea .search_tea_content_box {
		padding: 5.46875vw 0 0
	}
}
.tea_list_box {
	text-align: center;
	padding: 35px 0 0;
	display: none
}
.tea_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1050px;
	width: 100%
}
.tea_list .item {
	width: 29.5238095238%;
	text-align: center;
	margin: 0 1.9047619048% 3.3333333333%
}
.tea_list .item a {
	display: block;
	color: #000
}
.tea_list .item .img {
	position: relative;
	width: 100%;
	padding-top: 100%;
	margin: 0 0 7.7419354839%;
	overflow: hidden
}
.tea_list .item .img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%
}
.tea_list .item .title {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 6.4516129032%;
	letter-spacing: 1px;
	text-indent: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.tea_list .item .line {
	border-top: 1px dotted #a0a0a0;
	width: 100%;
	height: 0;
	margin: 0 0 5.4838709677%
}
.tea_list .item .info {
	margin: 0 0 2.2580645161%;
	letter-spacing: 1px;
	text-indent: 1px
}
.tea_list .item .info+.info .info_title {
	background-color: #dea776
}
.tea_list .item .info+.info+.info .info_title {
	background-color: #e892a8
}
.tea_list .item .info .info_title {
	width: 84px;
	height: 23px;
	line-height: 23px;
	float: left;
	font-size: 15px;
	color: #fff;
	border-radius: 2px;
	background-color: #d3bba6;
	margin: 0 4.5161290323% 0 1.2903225806%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.tea_list .item .info .info_desc {
	float: left;
	width: calc(100% - 84px - 5.8064516129%);
	font-size: 16px;
	line-height: 23px;
	text-align: left;
	color: #6a6a6a
}

@media screen and (max-width:768px) {
	.tea_list {
		margin: 0 14.125vw;
		width: auto
	}
	.tea_list .item {
		width: 44.53125vw;
		margin: 0 1.875vw 8.59375vw
	}
	.tea_list .item .img {
		width: 44.53125vw;
		height: 44.53125vw;
		padding: 0;
		margin: 0 0 2.5vw
	}
	.tea_list .item .title {
		font-size: 3.90625vw;
		line-height: 1.104;
		margin: 0 0 2.8125vw
	}
	.tea_list .item .line {
		margin: 0 0 3.125vw
	}
	.tea_list .item .info {
		margin: 0 0 2.1875vw
	}
	.tea_list .item .info .info_title {
		width: 14.84375vw;
		height: 4.84375vw;
		line-height: 4.84375vw;
		font-size: 2.8125vw;
		margin: 0 1.71875vw 0 .625vw
	}
	.tea_list .item .info .info_desc {
		width: calc(100% - 14.84375vw - 2.34375vw);
		font-size: 2.8125vw;
		line-height: 4.84375vw
	}
}


