@charset "UTF-8";



::-moz-selection {
	background: #a0896c;
	color: #fff
}

::selection {
	background: #B5A38D;
	color: #fff
}

body {
	position: relative;
	background: #F9EDDD
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Noto Serif TC, Helvetica Neue, Helvetica, Arial, 微軟正黑體,
		Microsoft JhengHei, 微软雅黑, メイリオ, 맑은\ 고딕, sans-serif
}

ol,
ul {
	margin: 0;
	padding: 0
}

ol li,
ul li {
	list-style-type: none
}

a {
	text-decoration: none
}

p {
	margin: 0
}

caption,
table,
tbody,
td,
tfoot,
th,
thead,
tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	border-spacing: 0
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
}
.search_tea {
	padding: 57px 0 97px
}

.search_tea .inner {
	position: relative;
	width: calc(100% - 20px - 20px);
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden
}

.search_tea .search_tea_title {
	position: relative;
	width: 339px;
	height: 73px;
	max-width: 90%;
	margin: 65px auto;
	background: url(../images/tea/search_tea_title.png) 50%/contain no-repeat
}

.search_tea .search_tea_nav_bar {
	position: relative;
	padding: 0 0 1.5% 15%
}

.search_tea .search_tea_nav_bar:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #aeaeae;
	content: ""
}

.search_tea .search_tea_nav_bar .nav_item {
	margin: 0 0 20px
}

.search_tea .search_tea_nav_bar .nav_item .search_title {
	position: relative;
	float: left;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 5px;
	text-indent: 5px;
	margin: 0 0 6px
}

.search_tea .search_tea_nav_bar .nav_item .search_option {
	position: relative;
	float: left;
	width: 83.5294117647%
}

.search_tea .search_tea_nav_bar .nav_item .search_option .item {
	position: relative;
	float: left;
	width: 126px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #a0896c;
	border: 1px solid #d3bba6;
	margin: 0 7px 6px;
	cursor: pointer;
	overflow: hidden
}

.search_tea .search_tea_nav_bar .nav_item .search_option .item a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #a0896c
}

.search_tea .search_tea_nav_bar .nav_item .search_option .item.active,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover {
	color: #fff;
	background: #d3bba6
}

.search_tea .search_tea_nav_bar .nav_item .search_option .item.active a,
.search_tea .search_tea_nav_bar .nav_item .search_option .item:hover a {
	color: #fff
}

.search_tea .search_tea_content_box {
	padding: 3.6363636364% 0 0
}

.search_tea .search_tea_content_box .search_tea_body {
	text-align: center
}

@media screen and (max-width:668px) {
	.search_tea {
		padding: 8.90625vw 0 15.15625vw
	}

	.search_tea .inner {
		width: calc(100% - 3.59375vw - 3.59375vw);
		padding: 0 9.59375vw
	}

	.search_tea .search_tea_title {
		width: 67.5vw;
		height: 14.375vw;
		margin: 8.59375vw auto;
		background: url(../images/m/tea/search_tea_title.png) 50%/contain no-repeat
	}

	.search_tea .search_tea_nav_bar {
		position: relative;
		padding: 0 0 5.46875vw 5.46875vw
	}

	.search_tea .search_tea_nav_bar .nav_item {
		margin: 0
	}

	.search_tea .search_tea_nav_bar .nav_item .search_title {
		width: 14.84375vw;
		font-size: 3.90625vw;
		line-height: 7.1875vw;
		margin: 0 0 1.875vw;
		white-space: nowrap
	}

	.search_tea .search_tea_nav_bar .nav_item .search_option {
		width: calc(100% - 14.84375vw)
	}

	.search_tea .search_tea_nav_bar .nav_item .search_option .item {
		width: 32.5vw;
		height: 7.1875vw;
		font-size: 3.59375vw;
		line-height: 7.1875vw;
		margin: 0 .78125vw 1.875vw
	}

	.search_tea .search_tea_content_box {
		padding: 5.46875vw 0 0
	}
}


.tea_list_box {
	text-align: center;
	padding: 35px 0 0;
	display: none
}

.tea_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1050px;
	width: 100%
}

.tea_list .item {
	width: 29.5238095238%;
	text-align: center;
	margin: 0 1.9047619048% 3.3333333333%
}

.tea_list .item a {
	display: block;
	color: #000
}

.tea_list .item .img {
	position: relative;
	width: 100%;
	padding-top: 100%;
	margin: 0 0 7.7419354839%;
	overflow: hidden
}

.tea_list .item .img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%
}

.tea_list .item .title {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 6.4516129032%;
	letter-spacing: 1px;
	text-indent: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.tea_list .item .line {
	border-top: 1px dotted #a0a0a0;
	width: 100%;
	height: 0;
	margin: 0 0 5.4838709677%
}

.tea_list .item .info {
	margin: 0 0 2.2580645161%;
	letter-spacing: 1px;
	text-indent: 1px
}

.tea_list .item .info+.info .info_title {
	background-color: #dea776
}

.tea_list .item .info+.info+.info .info_title {
	background-color: #e892a8
}

.tea_list .item .info .info_title {
	width: 84px;
	height: 23px;
	line-height: 23px;
	float: left;
	font-size: 15px;
	color: #fff;
	border-radius: 2px;
	background-color: #d3bba6;
	margin: 0 4.5161290323% 0 1.2903225806%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.tea_list .item .info .info_desc {
	float: left;
	width: calc(100% - 84px - 5.8064516129%);
	font-size: 16px;
	line-height: 23px;
	text-align: left;
	color: #6a6a6a
}

@media screen and (max-width:768px) {
	.tea_list {
		margin: 0 14.125vw;
		width: auto
	}

	.tea_list .item {
		width: 44.53125vw;
		margin: 0 1.875vw 8.59375vw
	}

	.tea_list .item .img {
		width: 44.53125vw;
		height: 44.53125vw;
		padding: 0;
		margin: 0 0 2.5vw
	}

	.tea_list .item .title {
		font-size: 3.90625vw;
		line-height: 1.104;
		margin: 0 0 2.8125vw
	}

	.tea_list .item .line {
		margin: 0 0 3.125vw
	}

	.tea_list .item .info {
		margin: 0 0 2.1875vw
	}

	.tea_list .item .info .info_title {
		width: 14.84375vw;
		height: 4.84375vw;
		line-height: 4.84375vw;
		font-size: 2.8125vw;
		margin: 0 1.71875vw 0 .625vw
	}

	.tea_list .item .info .info_desc {
		width: calc(100% - 14.84375vw - 2.34375vw);
		font-size: 2.8125vw;
		line-height: 4.84375vw
	}
}